@import 'src/styles.scss';


.events-page {
  padding-top: 20px;
  margin-top: 10%;

}
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.event-card {
  background: var(--card);
  border-radius: 8px;
  overflow: hidden;
  img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  h3, p { padding: 10px; }
  .date { font-weight: bold; color: var(--text); }
  p { font-size: 14px; }
  transition: box-shadow 0.3s ease;
  &:hover {
    @include glow-effect;
  }
}