.team-page {
    margin-top: 10%;

    max-width: 600px;
    margin: 40px auto;

    h2 {
        font-family: var(--headingFont);
    }
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: var(--text);
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 95%;
    padding: 12px;
    background: var(--card);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text);
    border-radius: 4px;

    &:focus {
        outline: none;
        border-color: var(--accent);
    }
}

textarea {
    min-height: 100px;
}

button {
    width: 100%;
    padding: 15px;
    background: var(--accent);
    color: var(--accent-contrast);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten(#4B5563, 10%);
    }
}